apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-backend
  namespace: test-space
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-backend
  template:
    metadata:
      labels:
        app: flask-backend
    spec:
      containers:
        - name: flask
          image: achaudhary002/my-flask-app:latest
          ports:
            - containerPort: 5000
          env:
            - name: DB_HOST
              value: mysql-svc.test-space.svc.cluster.local
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_DATABASE
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_ROOT_PASSWORD  
