apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-frontend
  namespace: test-space
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-frontend
  template:
    metadata:
      labels:
        app: nginx-frontend
    spec:
      containers:
        - name: nginx
          image: achaudhary002/nginx:latest
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-svc
  namespace: test-space
spec:
  selector:
    app: nginx-frontend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
  type: NodePort

